figure, h1, h2{
    text-align: center;
}
#competencias{
    text-align: center;
}

#inicio {
    text-align: center;
}
#curriculum {
    text-align: center;
}
#estudios{
    text-align: center;
}
#redessociales{
    text-align: center;
}
#subir{
    text-align: right;
}
#mapa{
    text-align: center;
}
#contacto{
    text-align: center;
}